html {
    font-size: 62.5%;
}
body {
    font-size: 6px;
    overflow-x: hidden;
    height: 100%;
    /* font-family: 'Nexa', Sans-Serif; */
    font-weight: 400;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Heavy-Italic.eot");
    src: url("../fonts/Nexa-Heavy-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Heavy-Italic.woff2") format("woff2"), url("../fonts/Nexa-Heavy-Italic.woff") format("woff"), url("../fonts/Nexa-Heavy-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Heavy-Italic.svg#Nexa-Heavy-Italic") format("svg");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa XBold';
    src: url("../fonts/Nexa-XBold-Italic.eot");
    src: url("../fonts/Nexa-XBold-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-XBold-Italic.woff2") format("woff2"), url("../fonts/Nexa-XBold-Italic.woff") format("woff"), url("../fonts/Nexa-XBold-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-XBold-Italic.svg#Nexa-XBold-Italic") format("svg");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa Book';
    src: url("../fonts/Nexa-Book-Italic.eot");
    src: url("../fonts/Nexa-Book-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Book-Italic.woff2") format("woff2"), url("../fonts/Nexa-Book-Italic.woff") format("woff"), url("../fonts/Nexa-Book-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Book-Italic.svg#Nexa-Book-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/NexaHeavy.eot");
    src: url("../fonts/NexaHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaHeavy.woff2") format("woff2"), url("../fonts/NexaHeavy.woff") format("woff"), url("../fonts/NexaHeavy.ttf") format("truetype"), url("http://microsure.nl/fonts/NexaHeavy.svg#NexaHeavy") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/NexaBlack.eot");
    src: url("../fonts/NexaBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaBlack.woff2") format("woff2"), url("../fonts/NexaBlack.woff") format("woff"), url("../fonts/NexaBlack.ttf") format("truetype"), url("http://microsure.nl/fonts/NexaBlack.svg#NexaBlack") format("svg");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Bold.eot");
    src: url("../fonts/Nexa-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Bold.woff2") format("woff2"), url("../fonts/Nexa-Bold.woff") format("woff"), url("../fonts/Nexa-Bold.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Bold.svg#Nexa-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Bold-Italic.eot");
    src: url("../fonts/Nexa-Bold-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Bold-Italic.woff2") format("woff2"), url("../fonts/Nexa-Bold-Italic.woff") format("woff"), url("../fonts/Nexa-Bold-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Bold-Italic.svg#Nexa-Bold-Italic") format("svg");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Thin-Italic.eot");
    src: url("../fonts/Nexa-Thin-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Thin-Italic.woff2") format("woff2"), url("../fonts/Nexa-Thin-Italic.woff") format("woff"), url("../fonts/Nexa-Thin-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Thin-Italic.svg#Nexa-Thin-Italic") format("svg");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa Book';
    src: url("../fonts/Nexa-Book.eot");
    src: url("../fonts/Nexa-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Book.woff2") format("woff2"), url("../fonts/Nexa-Book.woff") format("woff"), url("../fonts/Nexa-Book.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Book.svg#Nexa-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Black-Italic.eot");
    src: url("../fonts/Nexa-Black-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Black-Italic.woff2") format("woff2"), url("../fonts/Nexa-Black-Italic.woff") format("woff"), url("../fonts/Nexa-Black-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Black-Italic.svg#Nexa-Black-Italic") format("svg");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Light.eot");
    src: url("../fonts/Nexa-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Light.woff2") format("woff2"), url("../fonts/Nexa-Light.woff") format("woff"), url("../fonts/Nexa-Light.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Light.svg#Nexa-Light") format("svg");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/Nexa-Light-Italic.eot");
    src: url("../fonts/Nexa-Light-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Light-Italic.woff2") format("woff2"), url("../fonts/Nexa-Light-Italic.woff") format("woff"), url("../fonts/Nexa-Light-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Light-Italic.svg#Nexa-Light-Italic") format("svg");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa XBold';
    src: url("../fonts/Nexa-XBold.eot");
    src: url("../fonts/Nexa-XBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-XBold.woff2") format("woff2"), url("../fonts/Nexa-XBold.woff") format("woff"), url("../fonts/Nexa-XBold.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-XBold.svg#Nexa-XBold") format("svg");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa Regular';
    src: url("../fonts/Nexa-Regular-Italic.eot");
    src: url("../fonts/Nexa-Regular-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Nexa-Regular-Italic.woff2") format("woff2"), url("../fonts/Nexa-Regular-Italic.woff") format("woff"), url("../fonts/Nexa-Regular-Italic.ttf") format("truetype"), url("http://microsure.nl/fonts/Nexa-Regular-Italic.svg#Nexa-Regular-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/NexaThin.eot");
    src: url("../fonts/NexaThin.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaThin.woff2") format("woff2"), url("../fonts/NexaThin.woff") format("woff"), url("../fonts/NexaThin.ttf") format("truetype"), url("http://microsure.nl/fonts/NexaThin.svg#NexaThin") format("svg");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Nexa';
    src: url("../fonts/NexaRegular.eot");
    src: url("../fonts/NexaRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/NexaRegular.woff2") format("woff2"), url("../fonts/NexaRegular.woff") format("woff"), url("../fonts/NexaRegular.ttf") format("truetype"), url("http://microsure.nl/fonts/NexaRegular.svg#NexaRegular") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Header CSS */

#menu {
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#menu_flex {
    transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s, height 0.5s;
}

#menu_flex {
    height: 13em;
    padding-bottom: 2em;
    padding-top: 2em;
}

#menu_logo img {
    width: 170px;
    height: auto;
}

.single-menu-link-transform {
    margin: 0px 1.2em;
}

.single-menu-link-shape {
    position: relative;
}

.single-menu-link-shape a {
    color: #000;
    font-size: 1.6em;
    font-weight: 400;
}

.cross.small {
    width: 13px;
    height: 13px;
}

.single-menu-link-shape .cross {
    margin-top: 5px;
}

.cross.blue:before {
    background: #0066cc;
}

.cross.small:before {
    left: 6px;
    width: 1px;
}

.cross:before {
    width: 1px;
    height: 100%;
    position: absolute;
    background: #000;
    content: '';
    display: block;
}

.opened .submenu-transform {
    display: block;
}

.submenu-transform {
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 160px;
    display: none;
}

.single_submenu_link {
    margin: 8px 0px;
    margin-left: 5px;
}

.submenu-transform a {
    font-weight: 400;
    color: #0066cc;
    line-height: 1.1em;
}


/*colors*/
/*fonts*/
#menu {
    background: #fff;
    overflow: hidden;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;

    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#menu_flex {
    height: 13em;
    padding-bottom: 2em;
    padding-top: 2em;
}



#menu_logo img {
    width: 170px;
    height: auto;
}

.small_menu_opened body {
    overflow: hidden;
}

@media (min-width: 992px) {
    #menu_flex {
        margin-right: 7em;
        height: 20em;
        padding-bottom: 6.5em;
    }

    #menu_logo img {
        width: 220px;
        height: auto;
    }
}

@media (min-width: 1200px) {
    #menu_flex {
        margin-right: 0em;
    }
}

.single-menu-link-transform {
    margin: 0px 1.2em;
}

.single-menu-link-shape {
    position: relative;
}

.single-menu-link-shape a {
    color: #000;
    font-size: 1.6em;
    font-weight: 400;
}

.single-menu-link-shape .cross {
    margin-top: 5px;
}

.single-menu-link-shape a:hover {
    /*font-weight: 700;*/
    color: #0066cc;
}

#menu_search.open input {
    width: 120px;
}

@media (min-width: 992px) {
    #menu_search {
        /*position: absolute;
      top: 20px;
      right: 50px;*/
        /* margin-bottom: 20px; */
    }
}

@media (min-width: 1200px) {
    #menu_search {
        position: relative;
        top: 0px;
        right: 0px;
    }
}

html.open_search #menu_flex .menu_search-shape input {
    width: 100%;
}

html.open_search #menu_search {
    width: 90%;
    max-width: 600px;
}

html.open_search #menu-links-flex {
    display: none !important;
}

.menu_search-shape {
    background: transparent;
    /*#d7d7d7;*/
    padding: 4px 8px 4px 10px;
    border-radius: 20px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-bottom: solid 1px #0066cc;
    height: 24px;
}

.menu_search-shape input {
    background: transparent;
    border: none;
    width: 40px;
}

.menu_search-icon {
    cursor: pointer;
}

.menu_search-icon i {
    font-size: 29px;
    position: relative;
    left: 35px;
    /* 13px;*/
    top: -6px;
}

.single_submenu_link {
    margin: 8px 0px;
    margin-left: 5px;
    font-size: 9px !important;
}

.submenu-shape .single_submenu_link:first {
    margin-top: 0px;
}

.submenu-transform {
    position: absolute;
    margin-left: 0px;
    margin-top: 0px;
    width: 160px;
    display: none;
}

.submenu-transform a {
    font-weight: 400;
    color: #0066cc;
    line-height: 1.1em;
}

.opened .submenu-transform {
    display: block;
}

.opened .cross {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

#burger_button {
    cursor: pointer;
    margin-right: 20px;
}

#burger_button i {
    font-size: 24px;
    color: #0066cc;
}

.small_menu_opened #side_menu {
    right: 0px;
}

#close_side {
    position: relative;
    cursor: pointer;
}

#side_menu {
    font-size: 10px;
    position: fixed;
    right: -101%;
    z-index: 230;
    top: 0px;
    transition: right 0.5s;
    -webkit-transition: right 0.5s;
    -moz-transition: right 0.5s;
    -ms-transition: right 0.5s;
    -o-transition: right 0.5s;
    width: 100%;

}



#side_menu .side_menu-shape {
    padding: 2em 3em 5em;
    background: #fff;
    height: 100vh;
    overflow: auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 8px -4px #000;
    -webkit-box-shadow: 0px 0px 8px -4px #000;
    -moz-box-shadow: 0px 0px 8px -4px #000;
    -ms-box-shadow: 0px 0px 8px -4px #000;
    -o-box-shadow: 0px 0px 8px -4px #000;
    width: 100%;
}


@media (min-width:576px) {
    #side_menu {
        max-width: 350px;
        right: -350px;
    }

    #side_menu .side_menu-shape {}

}

#side_menu .menu_logo-shape_small {
    width: 40%;
    max-width: 90px;
}

#side_menu .single_submenu_link {
    margin: 10px 0px;
}

#side_menu .single-menu-link-transform {
    margin: 3em 0em;
}

#side_menu .submenu-transform {
    position: relative;
}

#side_menu .menu_search-shape input {
    width: 80%;
}

#side_menu .menu_search-icon i {


    top: -15px;

}



.fixed_menu #menu {
    position: fixed;
    z-index: 100;
    width: 100%;
    top: 0px;
}

#menu_flex {
    transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s, height 0.5s;

}

.fixed_menu #menu_flex {
    padding-bottom: 1em;
    padding-top: 1em;
    height: 9em;
}

#menu_margin_correct {
    height: 20em;
    padding-bottom: 2em;
    padding-top: 2em;

    transition: padding 0.5s;
    -webkit-transition: padding 0.5s;
    -moz-transition: padding 0.5s, height 0.5s;
}

.fixed_menu #menu_margin_correct {
    padding-bottom: 1em;
    padding-top: 1em;
    height: 9em;
    display: block;
}

/* General CSS */

/*colors*/
/*fonts*/

#home_vid {
    margin-bottom: 4em;
    display: none;
}

.home_video {
    width: 100%;
    position: relative;


}

.home_video_wrapper {
    display: block;
    width: 1280px;
    position: relative;
    height: 720px;
    margin: auto;
    overflow: hidden;
    ;
}

.playpause {
    background-image: url(../wp-content/themes/html5blank-stable/resources/assets/img/media_play_pause_resume.png);
    background-repeat: no-repeat;
    width: 24%;
    min-width: 80px;
    height: 24%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
    background-size: contain;
    background-position: center;
}

@media (min-width:768px) {

    #home_vid {
        margin-bottom: 8em;
        display: block;
    }

    .home_video_wrapper {

        width: 640px;

        height: 272px;
    }

    .home_video {

        top: -44px;
    }
}

@media (min-width:992px) {
    #home_vid {
        margin-bottom: 12em;
    }

    .home_video_wrapper {
        width: 832px;
        height: 354px;
    }

    .home_video {
        top: -57px;
    }
}


@media (min-width:1350px) {
    #home_vid {
        margin-bottom: 16em;
    }

    .home_video_wrapper {
        width: 1280px;
        height: 544px;
    }

    .home_video {
        top: -89px;
    }
}

/* Image */

/*colors*/
/*fonts*/
.image_text_box {
    margin: 10em 0px;
}

.image_text_box.text_bottom {
    margin-bottom: 0em;
}

@media (min-width:768px) {
    .image_text_box.text_bottom {
        margin-bottom: 40em;
    }
}

.image_text_box.text_top {
    margin-top: 40em;
}

@media (min-width: 768px) {
    /*.image_text_box {
        margin: 40em 0px;
    }*/

    .image_text_box.text_bottom {
        margin-bottom: 25em;
    }

    .image_text_box.text_top {
        margin-top: 40em;
    }
}

@media (min-width: 992px) {
    .image_text_box {
        margin: 0em 0px 15em 0px;
        ;
        min-height: 70em;
    }

    .image_text_box.text_bottom {
        margin-bottom: 20em;
    }

    .image_text_box.text_top {
        margin-top: 30em;
    }
}

.image_text_box .container {
    position: relative;
}

.border-box-shape {
    background: #fff;
    padding: 1em;
    width: 100%;
}


@media (min-width:768px) {
    .border-box-shape {
        background: #fff;
        padding: 2em;
        width: 47.2em;
    }

}


.border-box-content {

    border: none;
    padding: 2em;
}

@media (min-width:768px) {

    .border-box-content {
        height: 64.5em;
        border: solid 2px #0066cc;
        padding: 2.5em;
    }
}

.border-box-content h2 {
    margin-bottom: 0.65em;
    font-size: 4.5em;
}

.border-box-content .generic-text {
    font-size: 1.7em;
}

.image-text-img {
    position: relative;
    width: 100%;
}

.image-text-img img {
    width: 100%;
}

.row.image-text-img {
    margin-left: 0px;
    margin-right: 0px;

}

@media (min-width:768px) {
    .row.image-text-img {
        margin-left: -15px;
        margin-right: -15px;

    }

}

.image-text-text {
    position: relative;
}

.text_bottom .image-text-img {
    margin-bottom: 0em;
}

.text_bottom .image-text-text {
    top: 0em;
}


@media (min-width:768px) {
    .image-text-text {
        position: absolute;
    }



    .text_bottom .image-text-img {
        margin-bottom: 14em;
    }


    .text_bottom .image-text-text {
        top: 14em;
    }

}



.text_top .image-text-img {
    bottom: 0px;
}

.text_top .image-text-text {
    top: -14em;
}

.text_top .image-text-img {
    margin-top: 14em;
}

.text_right .image-text-img {
    left: 0px;
}

.text_right .image-text-text {
    right: 0px;
}

.text_left .image-text-img {
    right: 0px;
}

.text_left .image-text-text {
    left: 0px;
}

/* News */

/*colors*/
/*fonts*/
#new_social {
    margin-bottom: 6em;
    margin-top: 26em;
}

#all_news {
    padding: 6em 0px;
    margin: 6em 0px;
    background: #fff;
}

#latest_news h2 {
    margin: 1.75em 0px;
}

#latest_news .col {
    padding: 7px;
}

#latest_news .cross-link {
    margin-top: 8em;
}

.single-latest-news-col {
    padding: 7px;
}

.single-latest-news-bg {
    background-size: cover;
    background-position: center;
}

.single-latest-news-shape {
    background: rgba(0, 0, 0, 0.2);
    padding: 2em;
}

.single-latest-news-shape .cross {
    margin-bottom: 0.5em;
    margin-right: 2.5em;
}

.single-latest-news-shape .cross:after {
    background: #fff;
}

.single-latest-news-shape .cross:before {
    background: #fff;
}

.single-latest-news-shape:hover .single-latest-news-container {
    background: #fff;
}

.single-latest-news-shape:hover h3 {
    color: #000;
}

.single-latest-news-shape:hover p {
    color: #000;
}

.single-latest-news-shape:hover .cross:after {
    background: #0066b1;
}

.single-latest-news-shape:hover .cross:before {
    background: #0066b1;
}

.single-latest-news-container {
    background: transparent;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    height: calc((95vw)*1.3);
    position: relative;
}

@media (min-width: 576px) {
    .single-latest-news-container {
        height: calc((95vw/2)*1.3);
    }
}

@media (min-width: 768px) {
    .single-latest-news-container {
        height: calc((95vw/3)*1.4);
    }
}

@media (min-width: 1200px) {
    .single-latest-news-container {
        height: 41.5em;
    }
}

.single-latest-news-data {
    background: transparent;
    width: 100%;
    padding: 2em 2em;
}

.single-latest-news-col .bracket {
    font-size: 3em;
    color: #fff;
}

.single-latest-news-col h3 {
    color: #fff;
    margin-bottom: 1em;
    font-weight: 500;
}

.single-latest-news-col p {
    font-size: 1.7em;
    color: #fff;
    font-weight: 500;
    line-height: 1.2;
}

.latest_news_bottom {
    width: 100%;
}

.quote_paragraph {
    border-top: solid 2px #0066b1;
    border-bottom: solid 2px #0066b1;
    padding: 10em 0px;
}

.quote_paragraph p {
    color: #0066b1;
    max-width: 800px;
    font-size: 3.4em;
    line-height: 1.2em;
    font-style: italic;
}

.new_details {
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
    padding: 3em 0px;
    font-size: 6px;
}

.new_details_right img {
    width: 20px;
}

.new_details .new_details_left {
    font-size: 3.6em;
    font-weight: 300;
    color: #0066b1;
}

.new_details_right a {
    margin-left: 15px;
}

/* Accordians */

.accordeon {
    padding: 0em 0px 10em 0px;
}

.accordeon-col {
    padding: 0px 5em;
}

.accordeon-content {
    border-bottom: solid 1px #000;
}

.accordeon-header {
    padding: 3em 0em;
}

.accordeon-text {
    max-width: 800px;
    padding: 0em 0px;
    position: relative;
    height: auto;
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.single-accordeon-row .accordeon-header .cross {
    margin-right: 3em;
}

.single-accordeon-row .cross.open_accordeon {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.single-accordeon-row.open_accordeon .accordeon-text {
    opacity: 1;
    padding: 2em 0px;
    max-height: 1400px;
}

.single-accordeon-row.open_accordeon .accordeon-text .generic-text {
    margin-bottom: 1.5em;
}

.single-accordeon-row.open_accordeon .accordeon-header {
    padding-bottom: 1em;
}

.accordeon_gallery_images .single_acordion_gallery_image {
    margin: 1em;
}

.example-image-link img {
    height: 200px;
    width: auto;
    max-width: 5000px;
}

/* Banner */

/*colors*/
/*fonts*/
.banner {
    height: calc(100vw/1.777);
    min-height: 60em;
    width: 100%;
    background-color: #0066cc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

#hero-video-src {

    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}


@media (min-width:768px) {

    .video_dimensions {
        width: 100vw;
        height: calc(100vw/1.777);
        min-height: 0em;
    }


}

.banner.banner-small {
    height: 80vh;
    min-height: 40em;
    margin-top: 8em;
}

.banner_main {
    position: relative;
    height: 100%;
    width: 100%;
    min-height: inherit;
    padding-bottom: 10em;
    background-color: rgba(0, 0, 0, 0.2);
}

.banner_main h1 {
    color: #fff;
    line-height: 1.12em;
}

.banner_main p {
    max-width: 820px;
    color: #fff;
    margin: 1em auto;
    font-size: 2.2em;
    font-weight: bold;
}

.baner_deco {
    position: absolute;
    height: 10em;
    bottom: 0px;
    background: #fff;
    display: none;
}


@media (min-width:1200px) {
    .baner_deco {
        display: block;
    }
}

/* Front detailed  */

/*colors*/
/*fonts*/
#front-details-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    display: none;
}

#front-details-bg img {
    width: 100%;
    height: auto;
}

#front-details {
    /*margin-bottom: 8em;*/
    /*padding-top: 8em;*/
    position: relative;
    padding-bottom: 15em;
}

#front-details .bracket {
    font-size: 30px;
    color: #0066cc;
}

#front-details .container {
    position: relative;
    z-index: 3;
}

#front-details h3 {
    font-size: 22px;
    color: #0066cc;
    margin-bottom: 15px;
}

#front-details p {
    font-size: 2.2em;
    line-height: 1.2em;
    ;
}

#front-details {

    font-size: 9px;
}

@media (min-width:576px) {
    #front-details {
        /*  font-size:10px;*/
        font-size: 8px;
    }
}

@media (min-width:992px) {
    #front-details {
        font-size: 9px;
    }
}

#bot_detail {
    width: 100%;
}

#bot_detail .cross {
    margin-right: 20px;
}

.detail-data {
    padding: 10px 30px;
}

.single-detail-container {
    padding: 20px;
    background: #fff;
}

@media (min-width:768px) {
    .single-detail-container {
        height: 330px;
        width: 275px;
        padding: 15px;
    }
}

@media (min-width:992px) {
    .single-detail-container {
        padding: 20px;
        background: #fff;
    }
}

/* Footer */

#footer_logo {
    margin-bottom: 3em;
}

#footer {
    background: #000033;
    padding: 12em 0em 10em 0em;
    /* font-family: 'Nexa Book', sans-serif; */
}

#footer_logo .footer_logo_img {
    width: 20em;
}

#footer_address {
    margin-top: 4.5em;
}

#footer_address img {
    width: 20px;
    height: auto;
}

#footer_address p {
    color: #fff;
    font-size: 11px;
    line-height: 1.32em;
    margin-top: 1em;
}

#footer_address a {
    color: #fff;
}

.footer-link-set {
    margin-right: 6em;
    margin-bottom: 8em;
}

.footer-link-set a {
    color: #fff;
}

@media (min-width: 768px) {
    .footer-link-set {
        margin-right: 0em;
        margin-left: 4em;
        margin-bottom: 2em;
    }
}

.footer_main_link {
    font-size: 12px;
    margin-bottom: 3em;
    height: 1em;
}

@media (min-width: 992px) {
    .footer_main_link {
        height: 2em;
    }
}

@media (min-width: 992px) {
    .footer-link-set {
        margin-left: 6em;
    }

    .footer_main_link {
        margin-bottom: 2em;
        height: 1em;
    }
}

.footer_single_sub_link {
    margin-top: 1.25em;
}

.footer_single_sub_link .cross {
    margin-right: 0.5em;
}

.footer_single_sub_link a {
    font-size: 11px;
}

#footer-bottom {
    font-size: 10px;
}

#footer-bottom hr {
    margin-top: 6.4em;
    background-color: #0066cc;
}

#footer-bottom img {
    height: 1.8em;
    width: auto;
    margin-right: 1.5em;
}

#footer-bottom span {
    color: #fff;
}


#disclaimer {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #fff;
}

#disclaimer .col {
    max-width: 800px;
}

#legal {
    margin: 30px 0px 10px;
}

#legal a {
    color: #fff;
    margin-right: 10px;
}


/* Media queries  */

@media (min-width: 1200px) {
    body {
        font-size: 10px;
    }

    #menu_flex {
        margin-right: 0em;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 9px;
    }

    #menu_flex {
        margin-right: 0em;
        height: 20em;
        padding-bottom: 6.5em;
    }

    #menu_logo img {
        width: 220px;
        height: auto;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 8px;
    }
}

@media (min-width: 576px) {
    body {
        font-size: 7px;
    }
}

/* Publications */

/*colors*/
/*fonts*/
#publications {
    margin-top: 6em;
    padding: 6em 0px;
    background: url(../../assets/img/bgs/cross_bg.png);
    background-repeat: repeat;
}

@media (min-width: 1200px) {
    #publications {
        padding: 15em 0px;
    }
}

.single_pub_col {
    padding: 7px 7px;
}

.single-pub-shape {
    background: #0066cc;
    padding: 2em;
    color: #fff;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
}

.single-pub-shape:hover {
    background: #fff;
    color: #0066cc;
    box-shadow: 0px 0px 8px -4px #000;
    -webkit-box-shadow: 0px 0px 8px -4px #000;
    -moz-box-shadow: 0px 0px 8px -4px #000;
    -ms-box-shadow: 0px 0px 8px -4px #000;
    -o-box-shadow: 0px 0px 8px -4px #000;
}

.single-pub-shape:hover .single-pub-content {
    border: solid 2px #0066cc;
}

.single-pub-content {
    border: solid 2px #fff;
    padding: 2em;
}

@media (min-width: 576px) {
    .single-pub-content {
        height: calc((90vw/2)*1.2);
    }
}

@media (min-width: 768px) {
    .single-pub-content {
        height: calc((90vw/3)*1.2);
    }
}

@media (min-width: 1200px) {
    .single-pub-content {
        height: 420px;
    }
}

.pub_head {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
}

.pub_description {
    font-size: 14px;
}

.single-pub-bottom {
    font-size: 12px;
}

.single-pub-bottom hr {
    margin: 5px 0px;
    background: #fff;
}

#section_load_more {
    padding: 5em 0em;
}

#section_load_more h2 {
    cursor: pointer;
}

.small-single-image {
    margin-top: 4em;
    margin-bottom: 6em;
}

.small-single-image img {
    width: 100%;
    height: auto;
}

.full-single-image {
    margin-top: 4em;
    margin-bottom: 6em;
}

.full-single-image img {
    width: 100%;
    height: auto;
}


body.musa .full-single-image {
    margin-bottom: 9em;
}

/*  Slider  */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/*colors*/
/*fonts*/
body {
    font-size: 6px;
    overflow-x: hidden;
    height: 100%;
    /* font-family: 'Nexa', Sans-Serif; */
    font-weight: 400;
}

.black-bg {
    background: #000;
}

.black {
    color: #000;
}

.blue {
    color: #0066cc;
}


@media (min-width: 576px) {
    body {
        font-size: 7px;
    }

    .container {
        max-width: 755px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 8px;
    }

    .container {
        max-width: 985px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 9px;
    }

    .container {
        max-width: 1190px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 10px;
    }

    .container {
        max-width: 1200px;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.cross {
    width: 23px;
    height: 23px;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.cross-cust {
    
    width: 23px;
    height: 23px;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    position: absolute !important;
    bottom: 20px !important;
    right: 0px !important;
}

.cross:before {
    width: 1px;
    height: 100%;
    position: absolute;
    background: #000;
    content: '';
    display: block;
}

.cross:after {
    width: 100%;
    height: 1px;
    position: absolute;
    background: #000;
    content: '';
    display: block;
}

.opened .cross {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.cross.large {
    width: 23px;
    height: 23px;
}

.cross.large:before {
    left: 11px;
}

.cross.large:after {
    top: 11px;
}

.cross.medium {
    width: 20px;
    height: 20px;
}

.cross.medium:before {
    left: 9px;
    width: 2px;
}

.cross.medium:after {
    top: 9px;
    height: 2px;
}

.cross.small {
    width: 13px;
    height: 13px;
}

.cross.small:before {
    left: 6px;
    width: 1px;
}

.cross.small:after {
    height: 1px;
    top: 6px;
}

.cross.x-small {
    width: 9px;
    height: 9px;
}

.cross.x-small:before {
    left: 4px;
}

.cross.x-small:after {
    top: 4px;
}

.cross.blue:before {
    background: #0066cc;
}

.cross.blue:after {
    background: #0066cc;
}

.bracket {
    position: relative;
    height: 0.6em;
    width: 100%;
}

.bracket.brackets-top:before {
    height: 0.6em;
    width: 0.6em;
    content: '';
    position: absolute;
    border-left: solid 0.1em;
    border-top: solid 0.1em;
    top: 0px;
    left: 0px;
}

.bracket.brackets-top:after {
    height: 0.6em;
    width: 0.6em;
    content: '';
    border-right: solid 0.1em;
    border-top: solid 0.1em;
    position: absolute;
    right: 0px;
    top: 0px;
}

.bracket.brackets-bottom:before {
    height: 0.6em;
    width: 0.6em;
    content: '';
    border-left: solid 0.1em;
    position: absolute;
    border-bottom: solid 0.1em;
    bottom: 0px;
    left: 0px;
}

.bracket.brackets-bottom:after {
    height: 0.6em;
    width: 0.6em;
    content: '';
    border-right: solid 0.1em;
    border-bottom: solid 0.1em;
    position: absolute;
    right: 0px;
    top: 0px;
}

.brackets.diagonal .brackets-top:after {
    display: none;
}

.brackets.diagonal .brackets-bottom:before {
    display: none;
}

.generic-text {
    font-size: 1.8em;
    line-height: 1.35em;
    /* font-family: "Nexa Book", Sans-Serif; */
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 5em;
    font-weight: 200;
    color: #0066cc;
}

h3 {
    font-size: 3em;
    font-weight: 700;
}

h4 {
    font-size: 2em;
}

.intro-paragraph {
    padding: 2em 0px;
    max-width: 800px;
    margin: auto;
}

.intro-paragraph h2 {
    margin-bottom: 1em;
    margin-top: 0px;
}

.intro-paragraph p.generic-text {
    color: #000;
}

.intro-paragraph .generic-text p {
    color: #000;
}

.intro-paragraph .cross-link {
    margin-top: 5em;
}

.cross-link .brackets {
    width: 24px;
    height: 24px;
    font-size: 10px;
    margin-right: 25px;
    color: #000;
}

.cross-link span {
    font-size: 1.8em;
    font-weight: 700;
    color: #000;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}

.cross-link a:hover .cross {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.cross-link a:hover span {
    color: #0066cc;
}


/* Team */
/*colors*/
/*fonts*/
.bottom-team {
    width: 100%;
}

.team-member-title {
    color: #0066cc;
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    padding-left: 20px;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}

.single-latest-news-shape:hover .team-member-title {
    opacity: 1;
}

#team .single-latest-news-shape:hover .single-latest-news-data p {
    display: block;
}

#team .single-latest-news-data p {
    display: none;
}

/* Testimonials */

/*colors*/
/*fonts*/
#testimonials-image {
    margin-top: 8em;
}

#testimonials-image img {
    width: 80%;
}

#testimonials {
    margin-top: -8em;
    margin-bottom: 12em;
}

#testimonials h2 {
    margin: 1.15em 0px;
}

#testies-slide .testie-column {
    padding-right: 8em;
}

.single-testie-shape {
    height: 44em;
}

.single-testie-shape h1 {
    margin-top: 0.2em;
    font-size: 7em;
    line-height: 0.8em;
    height: 0.5em;
    font-weight: 300;
    /* font-family: 'Nexa', sans serif; */
    color: #0066cc;
    width: 100;
    font-style: italic;
}

.single-testie-shape .testi-text {
    width: 100%;
}

.single-testie-shape h4 {
    color: #0066cc;
    margin: 0px;
}

.testie-footer p {
    height: 2.2em;
}

#search-form p {
    padding: 0;
}

#q {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    /* border-left: 1px solid #e0e0e0; */
    /* border-right: 1px solid #e0e0e0; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #323232;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    outline: 0;
    padding-right: 43px;
    position: relative;
    text-indent: 10px;
    top: 5px;
    width: 120px;
}

.iorbit-search-link {
    font-size: 22px;
    position: absolute;
    right: 2%;
    top: 25%;
}

#iorbit-search {
    background: url(https://1.www.s81c.com/common/v18/i/search.svg) no-repeat 100% 50% rgba(0, 0, 0, 0);
    background-size: 20px;
    border: 0 none;
    height: 20px;
    line-height: 0;
    min-width: 20px;
    outline: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    text-indent: 99px;
    top: 15px;
    width: 20px;
}

.iorbit-access {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

#ninja_forms_required_items,
.nf-field-container {
    clear: both;
    position: relative;
    margin-bottom: 25px;
}

.ninja-forms-form-wrap *,
.ninja-forms-form-wrap :after,
.ninja-forms-form-wrap :before {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.label-above .field-wrap,
.label-below .field-wrap {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
}

.field-wrap {
    display: -ms-flexbox;
    display: flex;
}

.label-above .nf-field-label {
    margin-bottom: 10px;
}

.nf-field-label {
    -ms-flex-order: 5;
    order: 5;
}

.nf-field-label label {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.nf-error-msg,
.ninja-forms-req-symbol {
    color: #e80000;
}

.label-above .nf-field-element,
.label-below .nf-field-element {
    margin: 0;
    width: 100%;
}

.nf-field-element {
    -ms-flex-order: 15;
    order: 15;
}

.nf-field-element {
    position: relative;
}

.field-wrap .pikaday__container,
.field-wrap .pikaday__display,
.field-wrap>div input,
.field-wrap select,
.field-wrap textarea {
    width: 100%;
}

.nf-field-element input,
.nf-field-element select,
.nf-field-element textarea {
    margin: 0;
    width: auto;
    height: auto;
    vertical-align: inherit;
}

.nf-input-limit {
    font-size: 12px;
    margin-top: 5px;
}

#ninja_forms_required_items:after,
.nf-field-container:after {
    clear: both;
    content: "";
    display: block;
}

.field-wrap .pikaday__container,
.field-wrap .pikaday__display,
.field-wrap>div input,
.field-wrap select,
.field-wrap textarea {
    width: 100%;
    height: 30px;
}

.nf-field-element textarea {
    height: 200px;
}

.field-wrap>div input[type=checkbox],
.field-wrap button,
.field-wrap input[type=button],
.field-wrap input[type=submit] {
    width: auto;
}

.intro-paragraph h2 {
    margin-bottom: 1em;
    margin-top: 0px;
}

h2 {
    font-size: 5em;
    font-weight: 200;
    color: #0066cc;
}

.video_list {
    flex-wrap: wrap;
}

.single_video {
    min-width: 100%;
    max-width: 100%;
    ;
    padding: 25px !important;
}

.single_video .single_video_wrapper {
    border: solid 1px #0066cc;
}

.single_video .single_video_wrapper .single_video_details {
    padding: 12px;
}

.single_video .single_video_wrapper .single_video_details h3 {
    color: #0066cc;
    font-size: 20px;
    line-height: 1.2;
}

.single_video .single_video_wrapper .single_video_details .video_category {
    color: #666;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

@media (min-width:576px) {
    .single_video {
        min-width: 49%;
        max-width: 49%;
    }
}

@media (min-width:1200px) {
    .single_video {
        min-width: 32%;
        max-width: 32%;
    }
}

.intro-paragraph figure {
    margin: 40px 0px;
}

.wp-block-file {
    margin-bottom: 1.5em;
    border: solid 4px #0066cc;
    padding: 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wp-block-file .wp-block-file__button {
    background-color: #0066cc;
    font-weight: 600;
}


.presentation_col .single-pub-shape {
    padding: 0em;
    color: #06c;
    transition: background 0.5s;
    -webkit-transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -o-transition: background 0.5s;
    background: #fff;
    border: solid 8px;
}

.presentation_col .download_presentation {
    display: flex;
    justify-content: center;
    background-color: #06c;
    color: #fff;
    margin: auto 0px 20px 0px;
    padding: 10px;
    font-size: 14px;
    ;
    transition: background 0.5s;
}

.presentation_col .download_presentation:hover {
    background: #08f;
}

.presentation_col .download_presentation .single-pub-bottom {
    width: 100%;
}

#publications_list {
    margin: 6em 0;
}

#publications_list h2 {
    margin: 1em 0;
}

.accordeon_title {
    margin: 4em 0 1em 0;
}

.user-registration-MyAccount-content p {
    text-align: center;
}

.current_user {
    color: #0066cc;
    font-weight: 600;
    font-size: 12px;
    top: -3px;
    margin-left: 5px;
}

#profile-wrapper {
    display: flex;
}

#profile-wrapper #ur-profile-pic {
    width: 100%;
}

#profile-wrapper #change_legend {
    margin-top: 0px !important;
    text-align: center;
}

#profile-wrapper .profile_main {
    margin-top: 40px !important;
}

#profile-wrapper .profile_pass {
    margin-top: 40px !important;
}

#profile-wrapper #profile_avatar {
    display: flex;
}
#profile-wrapper .user-registration-img-container {
    max-width: 140px;
}

#profile_edit_main {
    margin: 0px !important;
}



.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid label,
.ur-frontend-form.ur-frontend-form--flat form .ur-form-row .ur-form-grid legend {
    color: #999;
    width: 100%;
}

#videos {
    margin-top: 4em;
}

.overbar {
    margin: 2rem;
    border-bottom: solid 2px #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin: 0px;
    padding: 20px 20px 20px 20px;
    background: #fff;
}

.overbar a {
    color: #000 !important;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.overbar .portal_title,
.overbar a {
    font-size: 1.2rem;
    font-weight: 600;
    color: #06c;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0;
    /* margin-right: 20px; */
}

.overbar a .material-icons {
    margin-right: 12px;
    display: block;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

.overbar .portal_title {
    font-size: 1.7rem;
}

#registration {
    margin-top: 100px;
}

.justify-content-left {
    justify-content: left;
}

/* User registartion */
#user-registration *, #user-registration.user-registration {
    box-sizing: border-box;
}
#user-registration {
    background-color: #fff;
    margin: 30px 0;
}
#registration code, #registration kbd, #registration pre, #registration samp {
    /* font-family: 'Nexa', sans-serif; */
    font-size: 1em;
}
#registration code {
    font-size: 14px;
    color: #000;
    word-break: break-word;
}
#registration #user-registration .login {
    max-width: 450px;
    margin: auto;
}
#user-registration *, #user-registration.user-registration {
    box-sizing: border-box;
}
.ur-frontend-form.login {
    margin: 0;
    padding: 10px;
    box-shadow: none;
    background: 0 0;
    border: 1px solid #dee0e9;
}
#registration #user-registration .login {
    max-width: 450px;
    margin: auto;
}
#registration .user-registration-form.user-registration-form-login.login .ur-form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
#registration .user-registration-form.user-registration-form-login.login .ur-form-row::before {
    content: "Login Form";
    font-size: 3.6rem;
    font-weight: 400;
    color: #0066cc;
    text-align: center;
}
#user-registration *, #user-registration.user-registration {
    box-sizing: border-box;
}
.ur-frontend-form .ur-form-row .ur-form-grid {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: 0 10px;
}
#registration #user-registration p {
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid label, .ur-frontend-form.ur-frontend-form--rounded form .ur-form-row .ur-form-grid legend {
    margin-left: 5px;
    color: #676d8a;
}
.ur-frontend-form .ur-form-row .ur-form-grid label, .ur-frontend-form .ur-form-row .ur-form-grid legend {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ur-frontend-form .ur-form-row .ur-form-grid label .required, .ur-frontend-form .ur-form-row .ur-form-grid legend .required {
    text-decoration: none;
    border: none;
    color: #ff4149;
}
#registration input {
    border: solid 2px #0066cc;
    padding: 10px 16px;
    font-size: 16px;
    margin-bottom: 0px;
    border-radius: 25px;
    outline: 0;
    -webkit-transition: all .35s;
    transition: all .35s;
    background: #fff;
    color: #676d8a;
    height: 54px;
}
#registration input[type="text"], #registration input[type="email"] {
    width: 100%;
}

#registration #user-registration p {
    color: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#registration .user-registration-LostPassword {
    margin: 30px 0px;
    font-size: 14px;
}

.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

#registration button:hover, #registration input[type=submit]:hover {
    background: #000033;
}
#registration button, #registration input[type=submit] {
    font-size: 16px;
    color: #fff;
    background: #0066cc;
    font-weight: 600;
    border: none;
    padding: 15px 28px;
    margin: 30px 0px;
    margin-right: 40px;
    -webkit-transition: background 0.5s;
    transition: background 0.5s;
}

.ur-frontend-form.login input[name=rememberme]#rememberme {
    vertical-align: middle;
}
#registration input {
    border: solid 2px #0066cc;
    padding: 10px 16px;
    font-size: 16px;
    margin-bottom: 0px;
}

/*  Zoom In effect   */
/* Colorize-zoom Container */
/*.img-hover-zoom--colorize img {
  transition: transform .5s, filter 1.5s ease-in-out;
  filter: grayscale(100%);
}

/* The Transformation 
.img-hover-zoom--colorize:hover img {
  filter: grayscale(0);
  transform: scale(1.1);
}*/

.img-hover-zoom {
  /*height: 300px;  Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}

/* Slow-motion Zoom Container */
.img-hover-zoom--colorize img {
  transform-origin: 50% 50%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(100%);
}

/* The Transformation */
.img-hover-zoom--colorize:hover img {
  filter: brightness(100%);
  transform: scale(1.5);
}

div#news_data h3 {
    font-size: 2.5em !important;
}

.wp-block-button.aligncenter {
    text-align: center;
}
.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.wp-block-button {
    color: #fff;
    margin-bottom: 1.5em;
}
.wp-block-button__link {
    background-color: #32373c;
    border: none;
    border-radius: 28px;
    box-shadow: none;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    overflow-wrap: break-word;
}


/* Animations */



/* Zoom In #1 */
.hover01 figure img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: 3.2s ease-in-out;
	transition: 3.2s ease-in-out;
}
.hover01 figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

/* Zoom In #2 */
.hover02 figure img {
	width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 figure:hover img {
	width: 350px;
}

/* Zoom Out #1 */
.hover03 figure img {
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover03 figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Zoom Out #2 */
.hover04 figure img {
	/* width: 400px; */
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover04 figure:hover img {
	/* width: 300px; */
}

/* Slide */
.hover05 figure img {
	margin-left: 30px;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover05 figure:hover img {
	margin-left: 0;
}

/* Rotate */
.hover06 figure img {
	-webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover06 figure:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}

/* Blur */
.hover07 figure img {
	-webkit-filter: blur(3px);
	filter: blur(3px);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover07 figure:hover img {
	-webkit-filter: blur(0);
	filter: blur(0);
}

/* Gray Scale */
.hover08 figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover08 figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* Sepia */
.hover09 figure img {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover09 figure:hover img {
	-webkit-filter: sepia(0);
	filter: sepia(0);
}

/* Blur + Gray Scale */
.hover10 figure img {
	-webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover10 figure:hover img {
	-webkit-filter: grayscale(100%) blur(3px);
	filter: grayscale(100%) blur(3px);
}

/* Opacity #1 */
.hover11 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover11 figure:hover img {
	opacity: .5;
}

/* Opacity #2 */
.hover12 figure {
	background: #1abc9c;
}
.hover12 figure img {
	opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover12 figure:hover img {
	opacity: .5;
}

/* Flashing */
.hover13 figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

/* Shine */
.hover14 figure {
	position: relative;
}
.hover14 figure::before {
	position: absolute;
	top: 0;
	left: -75%;
	z-index: 2;
	display: block;
	content: '';
	width: 50%;
	height: 100%;
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
	-webkit-transform: skewX(-25deg);
	transform: skewX(-25deg);
}
.hover14 figure:hover::before {
	-webkit-animation: shine 3.75s;
	animation: shine 3.75s;
}
@-webkit-keyframes shine {
	100% {
		left: 125%;
	}
}
@keyframes shine {
	100% {
		left: 125%;
	}
}

/* Circle */
.hover15 figure {
	position: relative;
}
.hover15 figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.hover15 figure:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

#consolPopup {
    background: transparent !important;
    padding: 26px;
}
#consolPopup button {
    background-image: url(../img/fancybox_sprite.png);
    position: absolute;
    top: 10px;
    right: 10px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 1004;
}

.fancybox-button svg {
    display: none !important;
}